{% extends "base.twig" %}

{% block title %}Ver publicação{% endblock %}

{% block header %}{% include "base/header.twig" %}{% endblock %}

{% block bread %}
    <div class="ui segment mini breadcrumb">
    <span class="section"><a href="/Forum/">Forum</a></span>
    <i class="right chevron icon divider"></i>
    <span class="section">Ver publicação</span>
    </div>
{% endblock %}

{% block footer %}{% include "base/footer.twig" %}{% endblock %}

{% block master_class %}ui grid{% endblock %}

{% block left_class %}sixteen wide mobile twelve wide tablet ten wide computer centered column{% endblock %}

{% block mid_class %}sixteen wide mobile twelve wide tablet eight wide computer centered column{% endblock %}

{% block right_class %}hidden{% endblock %}

{% block content %}
    <div class="ui segment">
        <div class="row">
            <h1 class="color-h-green">{{ publicacao.titulo }}</h1>
        </div>
        <br>
        <div class="row">
            <div style="max-height:600px; width:100%; overflow:auto; border: 2px solid black; border-radius:10px"> 
                {{ publicacao.conteudo | raw }}
            </div>
        </div>
    </div>
{% endblock %}