{% extends "base.twig" %}

{% block title %}Administrador{% endblock %}

{% block body_class %}{% endblock %}

{% block header %}{% include "base/header.twig" %}{% endblock %}

{% block footer %}{% include "base/footer.twig" %}{% endblock %}

{% block master_class %}ui grid{% endblock %}

{% block left_class %}sixteen wide mobile four wide tablet three wide computer centered column{% endblock %}

{% block mid_class %}sixteen wide mobile eight wide tablet seven wide computer centered column{% endblock %}

{% block right_class %}sixteen wide four four wide tablet four wide computer centered column{% endblock %}

{% block left_content %}
{% endblock %}
{% block content %}
    <div class="row">
        <div class="ui">
            <p></p>

            <div class="ui active centered inline loader"></div>

            <div>Enviando Emails</div>
        </div>
    </div>
{% endblock %}
{% block right_content %}
{% endblock %}