<footer class="ui centered middle aligned stackable grid footer-admin">
    <div class="one wide column">
        <a href='http://ifc.edu.br'>
            <img class="ui image centered tiny" src="{{ base_url() }}static/images/logo-ifc-vertical-branco.png"
                 alt="Logo Instituto Federal Catarinense">
        </a>
    </div>
    <div class="eight wide column">
        <p class="ui center aligned basic segment">
            <span>Instituto Federal de Educação, Ciência e Tecnologia Catarinense</span><br>
            <span>Rua das Missões, 100 - CEP 89051-000 - Blumenau - SC - Fone (47) 3331-7800</span>
        </p>
    </div>
    <div class="one wide column">
        <a href='http://fabricadesoftware.ifc.edu.br'>
            <img class="ui image centered tiny" src="{{ base_url() }}static/images/logo-fabrica.png"
                 alt="Logo Fábrica de Software">
        </a>
    </div>
</footer>