<div class="ui container">
    <div class="ui card">{# sticky #}
        <div class="content">
            <p class="header">Menu</p>
        </div>
        <div class="extra content">
            <a class="item" id="Amgshref">
                <i class="users icon"></i>
                Amigos
            </a>
        </div>
        <div class="extra content">
            <a class="item" id="Notifhref">
                <i class="bell icon"></i>
                Notificacoes  <div class="ui red label">{{ nr_notificacoes }}</div>
            </a>
        </div>
    </div>
</div>
