<div class="six wide column">
    <div class="right floated author">
        <img class="ui avatar image" src="'.$row['file_name'].'">'.$row['nome'].' '.$row['ultimo_nome'].'>        
    </div>
</div>
<div class="ui card segment count timeline-post">
    <div class="content">
        <span class="right floated star"></span>

        <div id="#" class="conteudo">
            <span class="hidden id_mensagem"></span>
            <span id="message-box"></span>
        </div>
    </div>

    <div class="ui modal fotos" id="#">
        <div class="modal-content" id="content-modal">
            <div class="modal-body"></div>
            <div class="ui container fluid pics" id="s2"></div>
        </div>
        <br>
    </div>

    <div class="modal-footer">';
        <div class="actions">
            <br>
            <button class="ui red cancel labeled icon button"><i class="remove icon"></i>Fechar</button>
        </div>
    </div>
</div>